<div class="container">
    <div class="columns is-multiline is-desktop">
       <div class="column is-one-third mb-6" *ngFor="let doctor of doctors let i = index">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="./assets/images/doctor.png" alt="Doctor illustration image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4"><span>{{doctor.firstName}}</span><span>{{doctor.lastName}}, MD</span></p>
                        <p class="subtitle is-6">{{doctor.email}}</p>
                      </div>
                    </div>
                
                    <div class="buttons">
                        <button class="button is-info" [routerLink]="['/doctor/details/', doctor._id]">
                            <!-- <a href="/doctor/details/{{doctor._id}}">View detials</a> -->
                            view details
                        </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="float">
       <a href="/doctor-create/new">+</a>
    </div>
</div>

