<head>

    <!--<link rel="stylesheet" href="healthcare-stylesheet.css">>-->
</head>

<body>
    <div>
        <h3>{{mode}} Prescription</h3>
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <mat-form-field >
                <input matInput placeholder="Drug Name" id="dname" [(ngModel)]="dName" name="dname" >
            </mat-form-field>
        
            <mat-form-field >
                <input matInput placeholder="Strength" id="strength" [(ngModel)]="strength" name="strength" >
            </mat-form-field>
        
            <p>
                <button type="submit" mat-raised-button>Submit</button>
            </p>
        </form>
        </div>


</body>    